%h1= Tr.model_name.human.singularize

%dl.dl-horizontal
  %dt= Tr.human_attribute_name :name
  %dd= @tr.name
  %dt= Tr.human_attribute_name :active_status
  %dd= @tr.active_status
  %dt= Tr.human_attribute_name :sort
  %dd= @tr.sort

= link_to t('actions.edit'), edit_tr_path(@tr), class: 'btn btn-primary'
&nbsp &nbsp &nbsp|&nbsp &nbsp &nbsp
= link_to t('actions.back'), trs_path
%hr