= simple_form_for(@tr_training_employee) do |f|
  = f.error_notification

  .form-inputs
    = f.input :output
    = f.association :tr_training_record
    = f.association :stf_employee

  .form-actions
    = f.button :submit
    &nbsp &nbsp | &nbsp &nbsp
    = link_to t('actions.back'), tr_training_employees_path
  %hr