= simple_form_for(@tr_program) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :active_status
    = f.input :sort

  .form-actions
    = f.button :submit
    &nbsp &nbsp | &nbsp &nbsp
    = link_to t('actions.back'), tr_programs_path
  %hr