= simple_form_for(@tr_training_record) do |f|
  = f.error_notification

  .form-inputs
    .well.well-compact{:style => "background-color:#ffe6ff;"}
      %ul.list-inline
        %li
          = f.association :tr_course
        %li
          = f.input :training_date
        %li
          = f.input :hours_trained
    = f.input :location
    = f.input :swi, label:'SWI number'
    = f.input :path_to_training_material, label:raw('<strong>Path to training material &nbsp;&nbsp;&nbsp;&nbsp;</strong><span style="font-weight:normal;color:grey"><small>Where are the training materials located?  Eg: S:\HR\Info\Safety Talks\Safety Talks 2016\Hazard Reporting - Janaury.pptx, or Windchill, or etc. If other, please expand.</small></span>')
    .well.well-compact{:style => "background-color:#ffddcc;"}  
      %table
        %tbody
          %tr
            %td
              = f.association :tr_type, :as => :collection_select, collection:TrType.order(:name), :label_method => lambda { |tr_type| "#{tr_type.name} " }, label:'Type'
            %td
              = f.association :tr_customer, :as => :collection_select, collection:TrCustomer.order(:name), :label_method => lambda { |tr_customer| "#{tr_customer.name} " }, label:raw('&nbsp &nbsp Customer')
            %td
              = f.association :tr_program, :as => :collection_select, collection:TrProgram.order(:name), :label_method => lambda { |tr_program| "#{tr_program.name} " }, label:raw('&nbsp &nbsp Program')
          %tr
            %td
              = f.association :tr_part, :as => :collection_select, collection:TrPart.order(:name), :label_method => lambda { |tr_part| "#{tr_part.name} " }, label:'Part'
            %td
              = f.association :tr_cell, :as => :collection_select, collection:TrCell.order(:name), :label_method => lambda { |tr_cell| "#{tr_cell.name} " }, label:raw('&nbsp &nbsp Cell')
            %td
              = f.association :stf_asset, :as => :collection_select, collection:StfAsset.order(:description), :label_method => lambda { |stf_asset| "#{stf_asset.description}" }, label:raw('&nbsp &nbsp Asset') 
    /= f.association :user
    
    %h3 Training employee
    #tr_training_employees
      = f.simple_fields_for :tr_training_employees do |tr_training_employee|
        = render 'tr_training_employee_fields', f: tr_training_employee, tr_training_employee: f.object
      
      .links
        = link_to_add_association 'add tr_training_employee', f, :tr_training_employees
        

  .form-actions
    = f.button :submit
    &nbsp &nbsp | &nbsp &nbsp
    = link_to t('actions.back'), tr_training_records_path
  %hr