= simple_form_for(@tr_training_record) do |f|
  = f.error_notification

  .form-inputs
    .well.well-sm{:style => "background-color:#ffe6ff;"}
      %ul.list-inline
        %li
          = f.association :tr_course, :as => :collection_select, collection:TrCourse.order(:name, :number).where(active_status: 1), :label_method => lambda { |tr_course| "#{tr_course.name}, #{tr_course.number}" }, label: 'Training Course'
        %li
          = f.input :training_date
        %li
          = f.input :hours_trained
        %li
          = f.input :trainer
    = f.input :location
    = f.input :swi, label:'SWI number'
    = f.input :path_to_training_material, label:raw('<strong>Path to training material &nbsp;&nbsp;&nbsp;&nbsp;</strong><span style="font-weight:normal;color:grey"><small>Where are the training materials located?  Eg: S:\HR\Info\Safety Talks\Safety Talks 2016\Hazard Reporting - Janaury.pptx, or Windchill, or etc. If other, please expand.</small></span>')
    /= f.association :user
    
    %h3 Training employee
    #tr_training_employees
      = f.simple_fields_for :tr_training_employees do |tr_training_employee|
        = render 'tr_training_employee_fields', f: tr_training_employee, tr_training_employee: f.object
      
      .links
        = link_to_add_association 'add tr_training_employee', f, :tr_training_employees
        

  .form-actions
    = f.button :submit
    &nbsp &nbsp | &nbsp &nbsp
    = link_to t('actions.back'), tr_training_records_path
  %hr