:css
  hr {height:1px;}
  a {display:block;line-height:1em;}
  #resize01 {height:40px;overflow:hidden;background:#eee;}
  #viewmore, #viewless {
      margin:0px 0 0 0;
      padding:8px 5px;
      background:#e9dbaf;
      color:#fff;
      display:inline-block;
      text-decoration:none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  }

/ background:#c2d6c2; pale green
/ background:#e9dbaf; tan
/ #f5e2bc pale orange
/ #ffe6cc pale orange

.container-fluid

.row
  .col-sm-2.col-md-3.col-lg-3{:style => "background-color:white;"}
    %ul.list-inline
      %li
        = link_to t('actions.create'), new_tr_training_record_path, class: 'btn btn-primary'
      %li
        %h4{:class => "vcenter", :style => "color:black;margin-left:1px;"}= TrTrainingRecord.model_name.human

  .col-sm-4.col-md-4.col-lg-4{:style => "background-color:white;"}
    %div#resize01
      = search_form_for @q, {:class => "search-form"} do |f|
        .input-group
          / http://stackoverflow.com/questions/27451693/display-two-fields-side-by-side-in-a-bootstrap-form
          = f.search_field most_tr_training_records_cont, class: 'form-control' , :placeholder => "Most fields..(enter one word)"
          = f.search_field most2_tr_training_records_cont, class: 'form-control' , :placeholder => "Most fields.."
          %span.input-group-addon{:class => "seperator1", :style => "max-width:1px;"} &nbsp
          = f.search_field :tr_course_name_or_tr_program_name_cont_any, class: 'form-control', :placeholder => "Course name or Program"
          = f.search_field :tr_type_name_eq, class: 'form-control', :placeholder => "Type"
          %span.input-group-btn{:style => "vertical-align:top;"}
            %button.btn.btn-primary
              %i.fa.fa-search

  .col-sm-2.col-md-2.col-lg-2{:style => "background-color:white;text-align: center;"}
    <a href="#" id="viewmore">+ More (Search)</a>
    <a href="#" id="viewless">- Less (Search)</a>

  .col-sm-2.col-md-2.col-lg-2{:style => "background-color:white;"}
    = page_entries_info @tr_training_records, :entry_name => 'item'
    / this works..   &nbsp  ---- use &#032; instead of &nbsp; for just a plain whitespace.   
            
= paginate @tr_training_records
    
 
%table.table.table-striped
  %thead
    %tr
      %th
      %th
      %th= sort_link(@q, :tr_course, TrTrainingRecord.human_attribute_name(:tr_course))
      %th= sort_link(@q, :training_date, TrTrainingRecord.human_attribute_name(:training_date))
      %th= sort_link(@q, :details_of_training, TrTrainingRecord.human_attribute_name(:details_of_training))
      %th= sort_link(@q, :hours_trained, TrTrainingRecord.human_attribute_name(:hours_trained))
      %th= sort_link(@q, :trainer, TrTrainingRecord.human_attribute_name(:trainer))
      %th= sort_link(@q, :location, TrTrainingRecord.human_attribute_name(:location))
      %th= sort_link(@q, :swi, "SWI number")
      %th= sort_link(@q, :path_to_training_material, TrTrainingRecord.human_attribute_name(:path_to_training_material))
      %th= sort_link(@q, :tr_type, TrTrainingRecord.human_attribute_name(:tr_type))
      %th= sort_link(@q, :tr_customer, TrTrainingRecord.human_attribute_name(:tr_customer))
      %th= sort_link(@q, :tr_program, TrTrainingRecord.human_attribute_name(:tr_program))
      %th= sort_link(@q, :tr_part, TrTrainingRecord.human_attribute_name(:tr_part))
      %th= sort_link(@q, :tr_cell, TrTrainingRecord.human_attribute_name(:tr_cell))
      %th= sort_link(@q, :stf_asset, TrTrainingRecord.human_attribute_name(:stf_asset))
      %th= sort_link(@q, :id, TrTrainingRecord.human_attribute_name(:id))
      /%th= sort_link(@q, :user, TrTrainingRecord.human_attribute_name(:user))

  %tbody
    - @tr_training_records.each do |tr_training_record|
      %tr
        %td= link_to t('actions.show'), tr_training_record, class: 'btn btn-primary'
        %td= link_to t('actions.edit'), edit_tr_training_record_path(tr_training_record)
        %td= tr_training_record.tr_course
        %td= tr_training_record.training_date
        %td= tr_training_record.details_of_training
        %td= tr_training_record.hours_trained
        %td= tr_training_record.trainer
        %td= tr_training_record.location
        %td= tr_training_record.swi
        %td= tr_training_record.path_to_training_material
        %td= tr_training_record.tr_type
        %td= tr_training_record.tr_customer
        %td= tr_training_record.tr_program
        %td= tr_training_record.tr_part
        %td= tr_training_record.tr_cell
        %td= tr_training_record.stf_asset
        %td= tr_training_record.id
        /%td= tr_training_record.user

= paginate @tr_training_records

%hr

/ old.. http://stackoverflow.com/questions/10340108/how-to-hide-html-div
/ http://jsfiddle.net/arunpjohny/yjxzQ/
/ http://stackoverflow.com/questions/16473299/remember-toggle-state-on-div-after-page-refresh

%script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.js")

:javascript
  $(function() {

  $('#viewless').hide();
  $('#viewmore').click(function(){
      var el = $('#resize01'),
          curHeight = el.height(),
          autoHeight = el.css('height', 'auto').height();
      el.height(curHeight).animate({height: autoHeight}, 0);
      $('#viewmore').hide();
      $('#viewless').show();

      $.cookie('viewmore', true);
  });

  $('#viewless').click(function(){
      $('#resize01').animate({height: '40'}, 0);
      $('#viewmore').show();
      $('#viewless').hide();

      $.cookie('viewmore', false);
  });

  if($.cookie('viewmore') == 'true'){
      $('#viewmore').click();
  } else {
      $('#viewless').click();
  }
  });