%h1= StfEmployee.model_name.human.singularize

%dl.dl-horizontal
  %dt= StfEmployee.human_attribute_name :clocknum
  %dd= @stf_employee.clocknum
  %dt= StfEmployee.human_attribute_name :name
  %dd= @stf_employee.name
  %dt= StfEmployee.human_attribute_name :active_status
  %dd= @stf_employee.active_status
  %dt= StfEmployee.human_attribute_name :sort
  %dd= @stf_employee.sort

/= link_to t('actions.edit'), edit_stf_employee_path(@stf_employee), class: 'btn btn-primary'
&nbsp &nbsp &nbsp|&nbsp &nbsp &nbsp
= link_to t('actions.back'), stf_employees_path
%hr